.single-product {
  background-image: url(../assets/maddi-bazzocco-UKGGgWb6_0g-unsplash.jpg);
  background-position: center;
  position: relative;
}

.single-page-width {
  max-width: 1360px;
  margin: 0 auto;
  background-image: url(../assets/leaves-g8993a9ef0_1280.png);
  background-repeat: repeat;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.single-page-width h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 40px;
}

.single-content {
  background-color: #FFF;
  padding: 40px;
}

.single-product-item {
  display: flex;
  flex-direction: row;
}

.single-product-item-image {
  max-height: 400px;
  text-align: center;
}

.single-product-item-image img {
  width: auto;
  max-height: 400px;
  object-fit: cover;
}

.single-product-info-wrapper {
  color: #333;
}

.single-product-brandname-review-container {
  display: flex;
  flex-direction: column;
}

.single-product-brandname-review-container > * {
  font-weight: 700;
  margin-bottom: 20px;
}

.single-product-description {
  font-size: 18px;
}
